<body>
{{ form_start(form) }}
    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.birthDate) }}
    {{ form_row(form.about) }}

<button type="submit">SubmitR</button>
{{ form_end(form) }}
</body>